.nun{
    float: right;
    position: relative;
    margin-right: 3rem;
    border: solid grey 1px;
}
.act{
    max-width: 30%;
    float: right;
}

.movieRecension{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    width: 40%;
}